body {
    background-image: url('../IMG/bricks.jpeg');
    
}

a {
    color: inherit;
}

/* NavBar */

#navBar {
    margin-top: 40px;
}

.navBtn {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 25px;
}

/* Picture */

.couplePic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.imageContainer {
    position: relative;
}

.text-block {
  position: absolute;
  top: 20px;
  left: 34%;
  color: white;
}

#names {
    font-size: 75px;
}

#date {
    text-align: center;
}

/* Our Story Text */

.ourStoryText {
    text-align: center;
}
